# Ignore all files and subdirectories under the current directory
# You must write it as /* to achieve the desired effect below
# If written as *, the following ! rules will not take effect
# If written as /, it means ignoring the current directory itself,
# not the files under the current directory
/*

# The following are exclusions from ignore rules, i.e. files to be included in version control
!build
!go
!src
!pom.xml
!README
!README.md
!LICENSE
!build.gradle
!settings.gradle
!*.gitignore

.DS_Store
*.h
*.so*
*.dll*
*.exe*
