<?xml version="1.0" encoding="UTF-8"?>

<!-- Levels from high to low: OFF, FATAL, ERROR, WARN, INFO, DEBUG, TRACE, ALL -->
<!-- Log output rule: based on the current ROOT level, logs with a level higher than the ROOT level will be output -->
<!-- For each configuration below, a filter is used to prevent lower-level logs from appearing in higher-level log files;
     the filter ensures that only logs of the specified level are recorded -->
<!-- scan: when set to true, the configuration file will be reloaded if it changes; default is true -->
<!-- scanPeriod: interval for checking configuration file changes. If no time unit is specified, milliseconds are used.
     This takes effect when scan is true. Default is 1 minute -->
<!-- debug: when set to true, logback internal log information will be printed to help observe logback runtime status;
     default is false -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- Console logging -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %5p [%c:%L] - %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
